{% extends 'base.html.twig' %}

{% block title %}Les agents{% endblock %}

{% block body %}
    {{ include('_navbar.html.twig') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center mb-5 mt-2">Détails de l'agent {{ agent.id }}</h1>
            </div>
        </div>
    </div>

    <div class="m-5">
        <table class="table">
            <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ agent.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ agent.firstName }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ agent.dateOfBirth ? agent.dateOfBirth|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ agent.code }}</td>
            </tr>
            <tr>
                <th>Nationalité</th>
                <td>{{ agent.nationality }}</td>
            </tr>
            <tr>
                <th>Spécialité</th>
                {% for speciality in agent.speciality %}
                    <td>{{ speciality.name }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ms-5">
        <a href="{{ path('agent_index') }}" class="btn btn-success">Retour à la liste</a>
    </div>
    <div class="ms-5 m-2">
        <a href="{{ path('agent_edit', {'id': agent.id}) }}" class="btn btn-primary">Modifier</a>

        {{ include('agent/_delete_form.html.twig') }}
    </div>

    {{ include('_footer.html.twig') }}
{% endblock %}
