{{ form_start(form) }}
    {{ form_row(form.title, {'label': 'Titre'}) }}
    {{ form_row(form.description, {'label': 'Description'}) }}
    {{ form_row(form.code, {'label': 'Code'}) }}
    {{ form_row(form.country, {'label': 'Pays'}) }}
    {{ form_row(form.type, {'label': 'Type'}) }}
    {{ form_row(form.status, {'label': 'Statut'}) }}
    {{ form_row(form.dateStart, {'label': 'Date de Début'}) }}
    {{ form_row(form.dateEnd, {'label': 'Date de fin'}) }}
    {{ form_row(form.agent, {'label': 'Agent'}) }}
    {{ form_row(form.speciality, {'label': 'Spécialité'}) }}
    {{ form_row(form.target, {'label': 'Cible'}) }}
    {{ form_row(form.hideout, {'label': 'Planque'}) }}
    {{ form_row(form.contact, {'label': 'Contact'}) }}
    <button class="btn btn-primary ml-5 mt-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
