{% extends 'base.html.twig' %}

{% block title %}Modifier une spécialité{% endblock %}

{% block body %}
    {{ include('_navbar.html.twig') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center mt-2">Modifier une spécialité</h1>
            </div>
        </div>
    </div>

    <div class="ms-5">
        {{ include('speciality/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('speciality_index') }}" class="btn btn-success mt-2">Retour à la liste</a>

        {{ include('speciality/_delete_form.html.twig') }}
    </div>
    {{ include('_footer.html.twig') }}
{% endblock %}
