{% extends 'base.html.twig' %}

{% block title %}Spécialité{% endblock %}

{% block body %}
    {{ include('_navbar.html.twig') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center mb-5 mt-2">Détails des spécialités</h1>
            </div>
        </div>
    </div>

    <div class="m-5">
        <table class="table">
            <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ speciality.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ speciality.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ms-5">
        <a href="{{ path('speciality_index') }}">Retour à la list</a>

        <a href="{{ path('speciality_edit', {'id': speciality.id}) }}">Détails</a>

        {{ include('speciality/_delete_form.html.twig') }}
    </div>

{% endblock %}
