{% extends 'base.html.twig' %}

{% block title %}Liste des missions{% endblock %}

{% block body %}
    {{ include('_navbar.html.twig') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center mt-2">Liste des missions</h1>
            </div>
        </div>
    </div>

    <div class="m-5">
        <div class="d-flex justify-content-end">
            {% if currentPage > 1 %}
                <a href="{{ path('mission_paginer', {'page': currentPage - 1}) }}" class="btn mt-5">
                    <i class="fa-solid fa-chevron-left" title="Page précédente"></i>
                </a>
            {% endif %}
            {% if maxMission %}
                <a href="{{ path('mission_paginer', {'page': currentPage + 1}) }}" class="btn mt-5">
                    <i class="fa-solid fa-chevron-right" title="Page suivante"></i>
                </a>
            {% endif %}
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Titre</th>
                <th>Description</th>
                <th>Nom de code</th>
                <th>Pays</th>
                <th>Type</th>
                <th>Statut</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for mission in missions %}
                <tr>
{#                    <td>{{ mission.id }}</td>#}
                    <td>{{ mission.title }}</td>
                    <td>{{ mission.description }}</td>
                    <td>{{ mission.code }}</td>
                    <td>{{ mission.country }}</td>
                    <td>{{ mission.type }}</td>
                    <td>{{ mission.status }}</td>
                    <td>{{ mission.dateStart ? mission.dateStart|date('d-m-Y') : '' }}</td>
                    <td>{{ mission.dateEnd ? mission.dateEnd|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('mission_show', {'id': mission.id}) }}"><i class="fa-solid fa-folder-open" title="Détails"></i></a>
                        <a href="{{ path('mission_edit', {'id': mission.id}) }}"><i class="fa-solid fa-pen-clip" title="Modifier"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucune mission enregistrée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="ms-5">
        <a href="{{ path('mission_new') }}" role="button" class="btn btn-primary m-5">Créer une nouvelle mission</a>
    </div>

    {{ include('_footer.html.twig') }}
{% endblock %}