{% extends 'base.html.twig' %}

{% block title %}Administrateurs{% endblock %}

{% block body %}
    {{ include('_navbar.html.twig') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center mb-5 mt-2">Liste des administrateurs</h1>
            </div>
        </div>
    </div>

    <div class="m-5">
            <div class="d-flex justify-content-end">
                {% if currentPage > 1 %}
                    <a href="{{ path('administrator_paginer', {'page': currentPage - 1}) }}" class="btn mt-5">
                        <i class="fa-solid fa-chevron-left" title="Page précédente"></i>
                    </a>
                {% endif %}
                {% if maxAdministrator %}
                    <a href="{{ path('administrator_paginer', {'page': currentPage + 1}) }}" class="btn mt-5">
                        <i class="fa-solid fa-chevron-right" title="Page suivante"></i>
                    </a>
                {% endif %}
            </div>
        
        <table class="table table-hover">
            <thead>
            <tr>
{#                <th>Identifiant</th>#}
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Mot de passe</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for administrator in administrators %}
                <tr>
{#                    <td>{{ administrator.id }}</td>#}
                    <td>{{ administrator.lastName }}</td>
                    <td>{{ administrator.firstName }}</td>
                    <td>{{ administrator.email }}</td>
                    <td>{{ '********************' }}</td>
                    <td>{{ administrator.dateOfCreation ? administrator.dateOfCreation|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('administrator_show', {'id': administrator.id}) }}"><i class="fa-solid fa-folder-open" title="Détails"></i></a>
                        <a href="{{ path('administrator_edit', {'id': administrator.id}) }}"><i class="fa-solid fa-pen-clip" title="Modifier"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun administrateur enregistrés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="m-5">
        <a href="{{ path('administrator_new') }}" role="button" class="btn btn-primary m-5">Créer un nouvel administrateur</a>
    </div>

    {{ include('_footer.html.twig') }}
{% endblock %}
