{{ form_start(form) }}
<div>
    <div class="row justify-content-between">
        <div class="col-12 col-lg-5 ml-auto">
            {{ form_row(form.lastName, {'label': 'Nom'}) }}
            {{ form_row(form.firstName, {'label': 'Prénom'}) }}
        </div>
        <div class="col-12 col-lg-5 mr-auto">
            {{ form_row(form.code, {'label': 'Code'}) }}
            {{ form_row(form.nationality, {'label': 'Nationalité'}) }}
        </div>
    </div>
</div>
<div class="col-8 col-lg-12">
    {{ form_row(form.dateOfBirth, {'label': 'Date de naissance'}) }}
    {{ form_row(form.mission, {'label': 'Mission'}) }}
</div>
    <button class="btn btn-primary ml-5 mt-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
